@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(menu.css);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: 10%;
    background: #333;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;


}

.contenedo{
	width: 98%;
	margin: auto; 
}

h1 {
	float: left;
}
header .contenedo{
	display: table;
}
.img{
	background-size: 100px;
}
